{% load humanize %}
{% for product in page_obj %}
  {% if forloop.last and page_obj.has_next %}
    <tr hx-get="{% url 'core:load-out-of-stock' %}?p={% if page_obj.has_next %}{{ page_obj.next_page_number }}{% endif %}"
        hx-swap="afterend"
        hx-target="this"
        hx-trigger="intersect once"
        hx-vals="js:{ s: document.querySelector('#table-search').value }"
        class="flex items-center bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
    {% else %}
      <tr class="flex items-center bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
      {% endif %}
      <td class="flex-1 px-3 py-2 font-medium text-center text-gray-900 dark:text-white">{{ product }}</td>
      <td class="flex-1 px-3 py-2 text-center">{{ product.stock }}</td>
      <td class="flex-1 px-3 py-2 text-center">{{ product.updated|naturaltime }}</td>
      <td class="flex-1 px-3 py-2 text-center">
        {% comment %} <button type="button" type="button" class="text-[10px] text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full px-2 py-1 text-center mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-900">
          Update Stock
        </button> {% endcomment %}
        <button title="Update this product"
                hx-get="{% url 'core:update-product' product.id %}"
                hx-target="#new_products"
                class="flex items-center space-x-4 text-blue-400 hover:text-blue-600">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
          </svg>
          <span>Update</span>
        </button>
      </td>
    </tr>
  {% endfor %}
