{% load static %}
{% load humanize %}
<html>

  <head>
    <link rel="stylesheet" href="http://127.0.0.1:8000/static/src/output.css">
  </head>

  <body>
    <div class="mx-24">

      <div>
        <div class="flex flex-col space-y-4 text-center border-b-2 border-gray-200">
          <h1 class="text-2xl font-semibold text-red-600 ">Noble Cosmetics Ltd.</h1>
          <div class="flex items-center justify-between">
          <h3 class="font-semibold">Personal Sales [{{ users }}]</h3>
          <h3 class="text-sm font-semibold">{% now "jS F, Y" %}</h3>
        </div>
        </div>
        <div class="mt-12">
          <table class="text-xs border-2 border-gray-500 w-full">
            <thead class="bg-gray-600 text-white" style="background:#666;color:#fff">
              <tr>
                <th scope="col" class=" border border-gray-100px-3 py-2 text-center">Order Code</th>
                <th scope="col" class=" border border-gray-100px-3 py-2 text-center">Total Amount</th>
                <th scope="col" class=" border border-gray-100px-3 py-2 text-center">Time Created</th>
              </tr>
            </thead>
            <tbody id="tbody">
              {% for order in orders %}
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td class=" border border-gray-100 px-3 py-2 font-medium text-center text-gray-900 dark:text-white">
                  <a class="text-blue-600 cursor-pointer hover:underline" hx-swap="innerHTML" hx-target="#order_details"
                    hx-get="{% url 'core:view-order' order.id forloop.counter %}">{{ order.code }}</a>
                </td>
                <td class=" border border-gray-100 px-3 py-2 text-center">GHs {{ order.overall_amount_paid }}</td>
                <td class=" border border-gray-100 px-3 py-2 text-center">{{ order.created }}</td>
              </tr>
              {% endfor %}
              <tr style="text-align:center; font-size:1.1rem;color:white;background-color:#222;">
                <td class="border border-gray-100" style="padding:0.6rem 0.4rem;"><b>Total Sales:</b></td>
                <td class="border border-gray-100" style="padding:0.6rem 0.4rem;">
                  <h1>{{ todays_total_orders }}</h1>
                </td>
                <td class="border border-gray-100" style="padding:0.6rem 0.4rem;"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    </div>
  </body>

</html>