<div class="flex flex-col h-full space-y-4 ">
  <div class="flex items-center justify-between w-full h-12 px-4 py-1 bg-green-400/10">
    <h2 class="text-xl font-semibold">Cart</h2>
    <button @click="items=[]"
            class="text-xs text-white rounded-md px-2 py-0.5 bg-gradient-to-br from-red-400 via-red-500 to-red-600 hover:from-red-600 hover:to-red-400 ">
      Clear Cart
    </button>
  </div>
  <div class="flex flex-col justify-between h-full">
    <table class="w-full text-xs text-left text-gray-500 border-collapse table-fixed dark:text-gray-400">
      <thead class="h-8 text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr class="flex text-center">
          <th scope="col" class="w-32 px-3 py-2">Product</th>
          <th scope="col" class="flex-1 px-3 py-2">Qty</th>
          <th scope="col" class="flex-1 px-3 py-2">Price</th>
          <th scope="col" class="flex-1 px-3 py-2">Total Price</th>
          <th scope="col" class="flex-1 px-3 py-2"></th>
        </tr>
      </thead>
      <tbody class="overflow-y-auto block xl:h-[450px] 2xl:h-[550px]">
        <template x-for="item in items" x-cloak x-show="items.length > 0">
          <tr class="flex items-center text-center bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="w-32 px-3 py-2 font-semibold text-gray-900 dark:text-white"
                x-text="item.name">
              </td>
            <td class="flex items-center flex-1 space-x-1">
              <button @click="item.qty = subtract(item.qty, item.stock)"
                      class="inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                      type="button">
                <span class="sr-only">Quantity button</span>
                <svg class="w-3 h-3"
                     aria-hidden="true"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                </svg>
              </button>
              <div>
                <input x-model="item.qty"
                       type="number"
                       id="first_product"
                       class="bg-gray-50 w-14 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="1"
                       :min="1"
                       :max="item.stock"
                       required>
              </div>
              <button @click="item.qty = add(item.qty, item.stock)"
                      class="inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700"
                      type="button">
                <span class="sr-only">Quantity button</span>
                <svg class="w-3 h-3"
                     aria-hidden="true"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd">
                  </path>
                </svg>
              </button>
            </td>
            <td class="flex-1 px-3 py-2 font-semibold text-gray-900 dark:text-white"
                x-text="item.price"></td>
            <td class="flex-1 px-3 py-2 font-semibold text-gray-900 dark:text-white"
                x-text="calcTotalPrice(item)"></td>
            <td class="flex-1 text-center">
              <button title="Remove this item from the cart"
                      @click="items = items.filter(t => t.id != item.id)"
                      class="w-4 text-red-400 hover:text-red-600">
                <svg class="w-4 h-4"
                     aria-hidden="true"
                     fill="currentColor"
                     viewBox="0 0 20 20"
                     stroke="currentColor"
                     stroke-width="1.5"
                     xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" stroke-linecap="round" stroke-linejoin="round">
                  </path>
                </svg>
              </button>
            </td>
          </tr>
        </template>
        <tr x-cloak x-show="items.length === 0" class="flex w-full text-center bg-white/50">
          <td  class="flex-1 px-4 py-2 text-xl font-medium text-center text-red-500">Cart is empty</td>
        </tr>
      </tbody>
    </table>
    <div class="flex items-center justify-between">
      <div class="flex items-center px-4 py-1 space-x-4 text-white bg-gray-800 ">
        <h2 class="text-[10px] font-semibold">Total Cost</h2>
        <span class="text-xl font-semibold" x-text="totalPayment()"></span>
      </div>
      <button :disabled="items.length === 0"
      @click="() => { if (items.length === 0) { window.alert('Cart is empty') } else { htmx.ajax('POST','/orders/make-order/', {target: '#cart', swap:'innerHTML', values: { items: items }}) }}"
      class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">
        Accept Payment
      </button>
    </div>
  </div>
</div>
