{% load humanize %}
<div class="flex flex-col px-3 py-2 space-y-5 bg-green-200 border-2 border-green-300">
  <div class="flex items-center justify-between w-full">
    <h3 class="text-sm font-semibold border-b-2 border-gray-500">Order: <b>{{ order.code }}</b></h3>
    <h3 class="text-xs">Made By: <b>{{ order.user }}</b></h3>
  </div>
  <div>
    <table class="w-full text-xs text-left text-gray-500 border-collapse table-fixed dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr class="flex">
          <th scope="col" class="flex-1 px-3 py-2 text-center">Item Name</th>
          <th scope="col" class="flex-1 px-3 py-2 text-center">Qty Bought</th>
          <th scope="col" class="flex-1 px-3 py-2 text-center">Total Cost</th>
        </tr>
      </thead>
      <tbody class="overflow-y-auto block h-[350px]" id="tbody">
        {% for order_item in order.orderitem_set.all %}
          <tr class="flex items-center bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
            <td class="flex-1 px-3 py-2 font-medium text-center text-gray-900 dark:text-white">{{ order_item.product }}</td>
            <td class="flex-1 px-3 py-2 text-center">{{ order_item.qty_bought }}</td>
            <td class="flex-1 px-3 py-2 text-center">GHs{{ order_item.paid_amount }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="flex justify-between px-3 py-2 space-y-2 text-white bg-gray-900">
    <div class="flex flex-col space-y-1">
      <h4 class="text-sm font-light">
        Total Amount Paid:  <span class="font-semibold">GHs {{ order.overall_amount_paid }}</span>
      </h4>
      <span class="text-[10px] text-gray-600">Order Completed On: {{ order.created }}</span>
    </div>
    <a href="{% url 'core:print-order-pdf' order.id order_number %}"
            class="text-white bg-gradient-to-r from-fuchsia-500 via-fuchsia-600 to-fuchsia-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-fuchsia-300 dark:focus:ring-fuchsia-800 shadow-lg shadow-fuchsia-500/50 dark:shadow-lg dark:shadow-fuchsia-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">
      Download Receipt
    </a>
  </div>
</div>
