<div class="grid grid-cols-4 gap-8"
     x-data="{items: [], calcTotalPrice(item) { item.total_price= parseFloat(item.price * item.qty).toFixed(2); return item.total_price;}, totalPayment() { let amnts = this.items.map(item => parseFloat(item.total_price));return amnts.reduce((a, c)=> a + c, 0).toFixed(2)}, add_to_card(id, name, stock, price) { if (this.items.findIndex(i => i.id === id) === -1) this.items.push({id, name, stock, qty:1, price})}}"
>
  <div class="col-span-2 ">
    <div class="flex items-center justify-between pb-4">
      <div>
        <h2 class="font-semibold text-xl border-b-2 border-gray-800">All Products</h2>
      </div>
      <label for="table-search" class="sr-only">Search</label>
      <div class="relative">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
          <svg class="w-5 h-5 text-gray-500 dark:text-gray-400"
               aria-hidden="true"
               fill="currentColor"
               viewBox="0 0 20 20"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd">
            </path>
          </svg>
        </div>
        <input type="text"
               id="table-search"
               name="s"
               hx-get="{% url 'core:load-orders-products' %}?p=1"
               hx-trigger="keyup changed delay:500ms"
               hx-target="#tbody"
               hx-swap="beforeend"
               class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-60 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
               placeholder="Search for items">
      </div>
    </div>
    <div class="relative shadow-md sm:rounded-lg" >
      <table id="orders_products_table" class="table-fixed border-collapse w-full text-xs text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr class="flex">
            <th scope="col" class="text-center flex-1 px-3 py-2">Product</th>
            <th scope="col" class="text-center flex-1 px-3 py-2">In Stock</th>
            <th scope="col" class="text-center flex-1 px-3 py-2">Price</th>
            <th scope="col" class="text-center flex-1 px-3 py-2">Action</th>
          </tr>
        </thead>
        <tbody hx-target="this" hx-swap="innerHTML" hx-get="{% url 'core:load-orders-products' %}?p=1&s=" hx-trigger="reload_products_with_stocks from:body" _="on keyup from #table-search remove <#orders_products_table>tbody>tr/>" class="overflow-y-auto block h-[500px]" id="tbody">
            {% include "core/orders/products_with_stocks_table_rows.html" %}
        </tbody>
      </table>
    </div>
  </div>
 <div id="cart" class="col-span-2 bg-green-100 p-4 pb-0">
  {% include "core/orders/cart_table.html" %}
 </div>
</div>

<script>
  function subtract(qty, stock) { 
    if (qty > 1 ) { 
      return qty - 1
    } else {
      return 1;
    }
  }

  function add(qty, stock) { 
    let next_qty = qty + 1;
    if (next_qty <= stock) return next_qty; 
    return stock;
  }


</script>
