

{% for product in products %}
      <tr x-data="{id: '{{ product.id }}', name: '{{ product.name }}', stock: {{ product.stock }}, price: {{ product.price }} }" class="flex items-center bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="text-center flex-1 px-3 py-2 font-medium text-gray-900 dark:text-white"
            x-text="name"></td>
        <td class="text-center flex-1 px-3 py-2" x-text="stock"></td>
        <td class="text-center flex-1 px-3 py-2 text-gray-900 dark:text-white"
            x-text="price"></td>
        <td class="text-center flex-1 px-3 py-2">
          <button type="button"
                  @click="() => add_to_card(id, name, stock, price)"
                  type="button"
                  class="text-[10px] text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-full px-2 py-1 text-center mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
            Add to Cart
          </button>
        </td>
      </tr>
      {% endfor %}