<button type="button"
        hx-get="{% url 'core:add-product' %}"
        hx-swap="innerHTML"
        hx-target="#new_products"
        class="text-white bg-gradient-to-r from-green-500 via-green-600 to-green-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">
  Add single product
</button>
<button type="button"
        hx-get="{% url 'core:import-products' %}"
        hx-swap="innerHTML"
        hx-target="#new_products"
        class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">
  Import new products
</button>

<button x-cloak x-show="ids.length === 0" type="button"
        hx-get="{% url 'core:remove-products-question' %}"
        hx-swap="innerHTML"
        hx-target="#new_products"
        class="text-white bg-gradient-to-r from-red-500 via-red-600 to-red-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">
  Remove all products
</button>

<button x-cloak x-show="ids.length > 0" type="button"
        hx-post="{% url 'core:remove-products-question' %}"
        hx-swap="innerHTML"
        hx-target="#new_products"
        hx-vals="js:{ids: getProductIDs()}"
        class="text-white bg-gradient-to-r from-red-500 via-red-600 to-red-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 shadow-lg shadow-blue-500/50 dark:shadow-lg dark:shadow-blue-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 ">
  Remove selected products
</button>

<script>
  function getProductIDs() {
    const products =  document.querySelectorAll('input[name=products]')
    const ids = []
    for(let i = 0; i<products.length; i++) {
      if (products[i].checked === true) ids.push(products[i].value);
    }
    return ids;

  }
</script>